<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div>
    <form method="post" action="/add">
        <input type="text" name="name" placeholder="Add username">
        <input type="email" name="email" placeholder="Add email">
        <button type="submit">SUBMIT</button>
    </form>
</div>
<h1>Users list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>EMAIL</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.email}">email</td>
    </tr>
</table>
</body>
</html>